{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <h2>Login</h2>
            <div>
                <label>Username:</label>
                <input type="text" name="username" placeholder="Enter your username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password"  name="password" placeholder="Enter your password"/>
            </div>
            <input type="submit" value="Login">
        </form>
        <p>Hvent sign up yet ?</p>
        <a href="{% url 'register' %}">Register</a>
    </div>

{% else %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
        </form>
        <p>are you already logged?</p>
        <a href="{% url 'login' %}">login</a>
    </div>
{% endif %}

{% endblock content %} 